<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/setup') %>

    <title>Signup - App</title>
  </head>
  <body>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Signup</button>
      <% if (fail) { %>
        <small>Invalid username or password</small>
      <% } %>
    </form>
  </body>
</html>
